__pycache__/
*.pyc
*.pyo
*.pyd
.env
secrets.json
credentials.json
.idea/
.vscode/
.DS_Store

# Cloud Function build artifacts
.cloudfunctions/*

# Python virtual environment
venv/
.env*/

# OS-specific
Thumbs.db
